# Operating System Garbage
# Windows
Desktop.ini

# MaxOSX
.DS_Info
.AppleDouble
.LSOverride
#Icon
._*
.Spotlight-V100
.Trashes
.DS_file
.DS_info
DS_Store

# Miscelaneous Garbage
*.log
*.out
*.err
*.bak
*~

# Compiled files
*.tfstate
*.tfstate.backup

# Module directory
.terraform/
